<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class='field'>
    <%= f.email_field :email,
                      placeholder: 'Enter a valid e-mail address',
                      autofocus: true %>
  </div>

  <div class='field'>
    <%= f.password_field :password,
                        placeholder: 'Enter a valid password (8 characters minimum)',
                        autocomplete: 'off' %>
  </div>

  <div class='field'>
    <%= f.password_field :password_confirmation,
                         placeholder: 'Confirm your password',
                         autocomplete: 'off' %>
  </div>

  <div class='actions'>
    <%= f.submit 'Sign up' %>
  </div>
<% end %>

<div class='shared-links'>
  <%= render 'devise/shared/links' %>
</div>
