<% if @placemark.errors.any? %>
<ul>
  <% @placemark.errors.full_messages.each do |err| %>
  <li><%= err %></li>
  <% end %>
</ul>
<% end %>
<div class="widget story-entry">
<%= form_for [@story, @placemark] do |f| %>
  <h3>Story fragment</h3>
    <%= f.text_field :name,
                     :placeholder=> "Enter this story fragment's title",
                     :autofocus=> true,
                     :autocomplete=> :off %>
    <%= f.text_area  :description,
                     :placeholder=> "Enter the main text for this part of the story",
                     :autocomplete=> :off %>
  </div>
  <%= render "location_selector_widget" %>
  <%= render "image_upload_widget" %>
  <%= render "story_tree_widget" %>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>
  <%= f.hidden_field :image_data %>
  <%= f.hidden_field :image_alt %>
  <div class="save-buttons">
    <%= f.submit "Add Next Placemark" %>
    <%= f.submit "Finish Story" %>
  <% end %>
  </div>