<h2> New Placemark: <%= @story.name %></h2>
<% if @placemark.errors.any? %>
  <div class='alert red-alert'>
    <h3><%= pluralize(@placemark.errors.count, 'error') %> prevented this placemark from being saved:</h3>
    <ul>
    <% @placemark.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% if @placemark.errors[:lat].any? || @placemark.errors[:lng].any? %>
    <% @location_selector_status = 'field_with_errors' %>
  <% end %>
<% end %>
<div class='widget placemark-entry'>
<%= form_for [@story, @placemark] do |f| %>
  <h3>Enter story fragment text</h3>
    <%= f.text_field :name,
                     placeholder: 'Required: Enter a title for this story fragment',
                     autofocus: true,
                     autocomplete: :off %>
    <%= f.text_area  :description,
                     placeholder: 'Optional: Enter a description for this story fragment',
                     autocomplete: :off %>
    <%= f.text_field :link,
                     placeholder: 'Optional: Add a hyperlink to include with this placemark',
                     autocomplete: :off %>                   
  </div>
  <div class='location-selector <%= @location_selector_status %>'>
    <div id='map'>
      <pre id='coordinates' class='ui-coordinates'></pre>
    </div>
    <div class='caption'>
      Drag <span class='icon-location'></span> to set location. Use <span class='icon-search'></span> to find address or <span class='icon-current-location'></span> to use current.
    </div>
  </div>
  <div class='widget image-editor'>
    <h3>Optional: Upload and crop image</h3>
      <div class="image-widget-container">
      <div class='cropit-image-preview'></div>
      <div class='image-controls'>
       <button class='select-image-button' type='button'>Select Image</button>
       <input type='range' class='cropit-image-zoom-input'>
       <div class='image-size-label'>Zoom</div>
        <textarea class='image-alt' placeholder='Enter image alt text' autocomplete='off' type='text' name='alt_text' id='alt_text'></textarea>
      </div>
      <input type='file' class='cropit-image-input'>
    </div>
  </div>
  <div class='widget story-tree'>
    <h3>Story tree navigator</h3>
    <div class='story-list'>
      <ol>
      <% @story.placemarks.each do |placemark| %>
       <% if placemark.id %>
        <li><%= link_to placemark.name, edit_story_placemark_path(@story, placemark), data: {no_turbolink: true} %></li>
        <% end %>
       <% end %>
        <li class='current-placemark'>Current Placemark</li>
      </ol>
    </div>
  </div>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>
  <%= f.hidden_field :image_data %>
  <%= f.hidden_field :image_alt %>
  <div class='widget save-buttons'>
    <%= f.submit 'Save Placemark' %>
    <%= f.submit 'Finish Story' %>
  </div>
<% end %>
<script>
  $('.story-list').scrollTop($('.story-list')[0].scrollHeight);
  main('<%= Rails.application.secrets.mapbox_token %>');
</script>