<% if @placemark.errors.any? %>
<ul>
  <% @placemark.errors.full_messages.each do |err| %>
  <li><%= err %></li>
  <% end %>
</ul>
<% end %>

<h2><%= @story.name %>; New Placemark</h2>

<%= form_for [@story, @placemark] do |f| %>
  <%= f.text_field :name,
                   :placeholder=> "Enter this story fragment's title",
                   :autofocus=> true,
                   :autocomplete=> :off %>
  <%= f.text_area  :full_text,
                   :placeholder=> "Enter the main text for this part of the story",
                   :autocomplete=> :off %>
  <%= render "location_selector_widget" %>
  <%= render "image_upload_widget" %>
  <%= render "story_tree_widget" %>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lon %>
  <%= f.hidden_field :image_data %>
  <%= f.hidden_field :image_alt %>
  <div class="save-buttons">
    <%= f.submit "Add Next Placemark" %>
    <%= f.submit "Finish Story" %>
  <div class="save-buttons">
<% end %>
