<h2><%= @story.name %>: New Placemark</h2>
<% if @placemark.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@placemark.errors.count, "error") %> prevented this placemark from being saved:</h3>
    <ul>
    <% @placemark.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<div class='widget placemark-entry'>
<%= form_for [@story, @placemark] do |f| %>
  <h3>Story fragment</h3>
    <%= f.text_field :name,
                     :placeholder=> 'Required: Enter a title for this story fragment',
                     :autofocus=> true,
                     :autocomplete=> :off %>
    <%= f.text_area  :description,
                     :placeholder=> 'Optional: Enter a description for this story fragment',
                     :autocomplete=> :off %>
    <%= f.text_area  :link,
                     :placeholder=> 'Optional: Add a hyperlink to include with this placemark',
                     :autocomplete=> :off,
                     :class=> "link" %>       
  </div>
  <%= render 'location_selector_widget' %>
  <%= render 'image_upload_widget' %>
  <%= render 'story_tree_widget_new' %>
  <%= f.hidden_field :lat %>
  <%= f.hidden_field :lng %>
  <%= f.hidden_field :image_data %>
  <%= f.hidden_field :image_alt %>
  <div class='save-buttons'>
    <%= f.submit 'Save Placemark' %>
    <%= f.submit 'Finish Story' %>
  </div>
<% end %>