<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title><%= @story.name %></title>
  <meta name='description' content='Made With Placemark Story: The easiest way to create and share interactive map stories'>
  <meta name='author' content='Nick Bumbarger'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
  <%= csrf_meta_tags %>
</head>
<body class='map-view'>
  <div id='map'></div>
  <ul id='marker-list'></ul>
  <script>
    initStoryMap('<%= Rails.application.secrets.mapbox_token %>', '<%= story_path(@story) %>');
  </script>
</body>
</html>