<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title><%= @story.name %></title>
  <meta name='description' content='<%= @story.description %>- Made With Placemark Story: The easiest way to create and share interactive map stories.'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
  <%= csrf_meta_tags %>
</head>
<body class='map-view'>
  <div id='map'></div>
  <ul id='marker-list'></ul>
  <script>
    initStoryMap('<%= Rails.application.secrets.mapbox_token %>', '<%= story_path(@story) %>');
  </script>
</body>
</html>
