<h2>Create A New Map Story</h2>
<% if @story.errors.any? %>
<ul>
  <% @story.errors.full_messages.each do |err| %>
  <li><%= err %></li>
  <% end %>
</ul>
<% end %>
<%= form_for @story do |f| %>
  <%= f.text_field :name,
                   :placeholder=> "Enter new story name",
                   :autofocus=> true,
                   :autocomplete=> :off %>
  <%= f.text_area  :synopsis,
                   :placeholder=> "Enter a brief synopsis",
                   :autocomplete=> :off,
                   :class=> "new-story"%>
  <%= f.submit :class=> "new-story" %>
<% end %>