<h2>View Map Story: <%= @story.name %></h2>
<div class='map-stories'>
  <%= render 'no_placemarks_notice' if @no_placemarks %>
  <h4>Description:</h4>
  <p><%= @story.description %></p>
  <ul>
    <li><%= link_to 'Show Map', story_map_path(@story), target: '_blank', class: @placemarks_link_class %></li>
    <li><%= link_to 'Edit Basics', edit_story_path(@story) %></li>
    <li><%= link_to 'Edit Placemarks', @no_placemarks? new_story_placemark_path(@story) : edit_story_placemark_path(@story, @placemarks.first), data: {no_turbolink: true}, class: @placemarks_link_class %></li>
    <li><%= link_to 'Delete', story_path(@story), method: :delete %></li>
  </ul>
</div>