<h2>View Map Stories</h2>
<div class="map-stories">
  <h3><%= @story.name %></h3>
  <p><%= @story.description %></p>
  <span class="show-map"><%= link_to "Show Map", story_map_path(@story), :target => "_blank" %></span>
  <span class="edit-settings"><%= link_to "Edit Settings", edit_story_path(@story) %></span>
  <span class="edit-content"><%= link_to "Edit Content", edit_story_placemark_path(@story, @first_placemark) %></span>
  <span class="delete"><%= link_to "Delete", story_path(@story), method: :delete %></span>
</div>