<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Placemark Story</title>
  <meta name='description' content='Placemark Story: the easiest way to create and share interactive map stories'>
  <meta name='keywords' content='Key, Words, For, Search, Engines'>
  <meta name='author' content='Nick Bumbarger'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>
      <span class='title-word1'>Placemark</span><span class='title-word2'>Story</span>
    </h1>
    <nav>
      <ul>
        <li><%= link_to 'About', root_path %></li>
        <li><%= link_to 'New Map Story', new_story_path %></li>
        <li><%= link_to 'View Map Stories', stories_path %></li>
      </ul>
    </nav>
    <div id='logo'></div>
  </header>
  <section>
  <%= yield %> 
  </section>
  <footer>
    <span>
      Handcrafted with <span class='icon-heart'></span> by <a href='https://www.linkedin.com/pub/nicholas-bumbarger/b5/396/42b'>Nick Bumbarger</a>
    </span>
  </footer>
</body>
</html>
