<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <title>Placemark Story</title>
  <meta name='description' content='Placemark Story: the easiest way to create and share interactive map stories'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>
      <span class='title-word1'>Placemark</span><span class='title-word2'>Story</span>
    </h1>
    <nav>
      <ul>
        <li><%= link_to 'About', root_path %></li>
        <li><%= link_to 'New Map Story', new_story_path %></li>
        <li><%= link_to 'View Map Stories', stories_path %></li>
      </ul>
    </nav>
    <div class='login-input'>
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path %> |
      <%= link_to 'Login', new_user_session_path %>
    <% end %>
    </div>
    <div id='logo'></div>
  </header>
  <section>
  <%= yield %> 
  <% if notice %>
    <div class='alert green-alert login-alert'>
      <p>
        <%= notice %>
      </p>
    </div>
  <% end %>
  <% if alert %>
    <div class='alert red-alert login-alert'>
      <p>
        <%= alert %>
      </p>
    </div>
  <% end %>
  </section>
  <footer>
    <span class='contribue'>
      Powered by <%= link_to 'Mapbox', 'https://www.mapbox.com/', class: 'mapbox-logo' %>. <%= link_to '<span class="icon-github"></span> Read more and contribute'.html_safe, 'https://github.com/nbumbarger/placemark_story' %>  
    </span>
    <span class='credits'>
      Made with <span class='icon-heart'></span> by <%= link_to 'Nick Bumbarger', 'http://www.nickbumbarger.com' %> 
    </span>
  </footer>
</body>
</html>